<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>weChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>872A7EF41CE9C99D008DACE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>872A7F0D1CE9C99D008DACE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>872A7F181CE9C99D008DACE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
